<html>

	<head>
		<title>Whats Emad!</title>
	</head>

	<body>

		{% for message in  messages %}

			{% if message.sender %}
				<p>
					<strong>Sender : </strong> {{message.text}}
				</p>
			{% else %} 
				<p>
					<strong>You : </strong> {{message.text}}
				</p>
			 
			{% endif %} 

		{% endfor %}
		<form method="post">
		    {% csrf_token %}
		    {{ form }}
		    <input type="submit" value="Submit" />
		</form>
		<a href=''>Refresh</a>
	</body>

</html>