<html>

	<head>
		<title>Whats Emad!</title>
	</head>

	<body>
		<form action="/" method="post">
		    {% csrf_token %}
		    {{ form }}
		    <input type="submit" value="Submit" />
		</form>
	</body>

</html>